@font-face {
  font-family: "Permanent";
  src: url(./fonts/Permanent.ttf);
}

button:focus{
  background-color: rgba(188, 177, 219, 0.425);
}

body{
  background-color: rgba(255, 255, 255, 0.767);
}

h1{
  color: rgb(35, 31, 100);
  font-family: "Permanent";
  text-align: center;
  margin: 20px 0px 20px;
  font-size: 80px;
  
}

div.main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.main .dmain_2{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 750px;
  height: 750px;
  border: 2px solid black;
}

.main .dmain_1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dmain_1 div{
  margin: 10px 20px 10px;
}

button{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  background-color: transparent;
  font-family: permanent;
  font-size: 15px;
  cursor: pointer;
}

#s_1{
  display: inline-block;
  width: 100%;
  height: 220px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  background-color: transparent;
}

#s_1 input{
  width: 250px;
  height: 250px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: -5px -5px -5px;
}

.dmain_2 div{
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
}

.dmain_2 div div{
  border: solid 0px transparent;
}


